Django==1.9b1
git+https://github.com/danpalmer/django-enumfield.git
psycopg2
django-extensions
django-s3-storage
bcrypt
cffi
cssutils
gunicorn
requests
raven
jinja2
Celery
strict-rfc3339
lxml
cssselect
dj-database-url
dj-static
