<nav class="navbar navbar-fixed-top {% block nav_classes %}navbar-default{% endblock %}" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu">
        <span class="sr-only">Toggle Navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Loyalty Scheme Tracker</a>
    </div>
    <div class="collapse navbar-collapse" id="menu">
      <ul class="nav navbar-nav navbar-right">
        {% if not request.user.is_authenticated() %}
          <li><a href="{{ url("accounts:login") }}">Log in</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
